.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel/output/config.json
.vercel/output/functions/fn.func/.svelte-kit/output/server/chunks/index.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/chunks/index2.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/chunks/internal.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/chunks/ssr.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/chunks/stores.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/endpoints/api/comments/_server.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/fallbacks/error.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/matchers/integer.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/_layout.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/login/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/password/_layout.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/password/forgot/_page@(auth).svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/password/info/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/password/reset/_page@.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/(auth)/register/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/_layout.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/about/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/blog/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/blog/first/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/blog/second/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/marketing/__lang__/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/products/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/products/_productsId_integer_/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/products/_productsId_integer_/reviews/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/products/_productsId_integer_/reviews/_reviewsId_/_page.svelte.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/entries/pages/profile/_page.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/index.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/0.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/1.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/10.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/11.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/12.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/13.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/14.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/15.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/16.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/17.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/18.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/19.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/2.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/3.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/4.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/5.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/6.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/7.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/8.js
.vercel/output/functions/fn.func/.svelte-kit/output/server/nodes/9.js
.vercel/output/functions/fn.func/.svelte-kit/vercel-tmp/index.js
.vercel/output/functions/fn.func/.svelte-kit/vercel-tmp/manifest.js
.vercel/output/functions/fn.func/.vc-config.json
.vercel/output/functions/fn.func/package.json
.vercel/output/static/_app/immutable/assets/0.fd1542b9.css
.vercel/output/static/_app/immutable/assets/10.076c202b.css
.vercel/output/static/_app/immutable/assets/_layout.fd1542b9.css
.vercel/output/static/_app/immutable/assets/_page.076c202b.css
.vercel/output/static/_app/immutable/assets/app.116d8fee.css
.vercel/output/static/_app/immutable/assets/app.534bc2b4.css
.vercel/output/static/_app/immutable/chunks/index.41640a5d.js
.vercel/output/static/_app/immutable/chunks/index.b9d65fdf.js
.vercel/output/static/_app/immutable/chunks/paths.1a63566b.js
.vercel/output/static/_app/immutable/chunks/scheduler.6775f91d.js
.vercel/output/static/_app/immutable/chunks/singletons.6467ee55.js
.vercel/output/static/_app/immutable/chunks/stores.85c984b2.js
.vercel/output/static/_app/immutable/entry/app.cbb16ec2.js
.vercel/output/static/_app/immutable/entry/start.d4baaecc.js
.vercel/output/static/_app/immutable/nodes/0.96d6967f.js
.vercel/output/static/_app/immutable/nodes/1.230a19ee.js
.vercel/output/static/_app/immutable/nodes/10.1992d1a7.js
.vercel/output/static/_app/immutable/nodes/11.b027c4e1.js
.vercel/output/static/_app/immutable/nodes/12.b8118c50.js
.vercel/output/static/_app/immutable/nodes/13.a43b8b9d.js
.vercel/output/static/_app/immutable/nodes/14.f0fdb5c2.js
.vercel/output/static/_app/immutable/nodes/15.f2d4a053.js
.vercel/output/static/_app/immutable/nodes/16.55f668f4.js
.vercel/output/static/_app/immutable/nodes/17.0a8ccac7.js
.vercel/output/static/_app/immutable/nodes/18.e47d58d0.js
.vercel/output/static/_app/immutable/nodes/19.630cc0c1.js
.vercel/output/static/_app/immutable/nodes/2.dc773f39.js
.vercel/output/static/_app/immutable/nodes/3.92811eff.js
.vercel/output/static/_app/immutable/nodes/4.8a09088f.js
.vercel/output/static/_app/immutable/nodes/5.56250d17.js
.vercel/output/static/_app/immutable/nodes/6.234e82e3.js
.vercel/output/static/_app/immutable/nodes/7.eb600588.js
.vercel/output/static/_app/immutable/nodes/8.2fb68c88.js
.vercel/output/static/_app/immutable/nodes/9.5df59a22.js
.vercel/output/static/_app/version.json
.vercel/output/static/favicon.png
